* {
  margin: 0px;
  font-family: "Times New Roman", Times, serif;
  padding: 0;
  box-sizing: border-box;
}

section {
  height: 100vh;
  background: #000;
  overflow: hidden;
}

p {
  position: relative;
  font-size: 1.5em;
  letter-spacing: -0.05em;
  line-height: 0.7em;
  background: url(face.png), url(face.png);
  background-blend-mode: color-dodge;
  background-position: top center;
  background-attachment: fixed;
  background-size: cover;
  object-fit: cover;
}
